<a href="https://colab.research.google.com/github/preethadk11/HTML-Project-roadmap.sh-/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hollow Square

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

Hollow rectangle

In [ ]:
for i in range(1,4):
  for j in range(1,8):
    if i==1 or i==3 or j==1 or j==7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
*     *
*******

Border with Numbers

In [ ]:
for i in range(4):
  for j in range(6):
    if i==0 or i==3 or j==0 or j==5:
      print("1",end="")
    else:
      print(" ",end="")
  print()

111111
1    1
1    1
111111

Hollow Rectangle with Row Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(i,end="")
    elif j==1 or j==cols:
      print(i,end="")
    else:
      print(" ",end="")
  print()

111111
2    2
3    3
444444

Hollow Rectangle with Column Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(j,end="")
    elif j==1 or j==cols:
      print(j,end="")
    else:
      print(" ",end="")
  print()

123456
1    6
1    6
123456

Double Border Rectangle

In [ ]:
rows=7
cols=10
for i in range(1,7+1):
  for j in range(1,10+1):
    if i<=2 or i>rows-2:
      print("*",end="")
    elif j==1 or j==2 or j==cols or j==cols-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

**********
**********
**      **
**      **
**      **
**********
**********

Hollow rectangle with diagonal

In [ ]:
n=6
for i in range(n+1):
  for j in range(n+1):
    border_condition=i==0 or i==n or j==0 or j==n
    diagonal_condition=i+j==n-1
    if border_condition or diagonal_condition:
      print("*",end="")

    else:
      print(" ",end="")
  print()

*******
*   * *
*  *  *
* *   *
**    *
*     *
*******

half triangle

In [ ]:
for i in range(6):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print(" ",end="")
  print("*"*(i))

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print("*",end="")
  print()

******
*****
****
***
**
*

Pyramid

In [ ]:
n=9
for i in range(n):
  for j in range(n-i):
    print(" ",end="")
  print("*"*(2*i+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
n=9
for i in range(n):
  for j in range(i):
    print(" ",end="")

  print("*"*(2*n-(2*i+1)))

*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [50]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")
  if i>1 and i<n:
    for j in range(2*i - 3):
       print(" ",end="")
    print("*",end="")

  if i==n:
    for j in range(2*i - 2):
      print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********