<a href="https://colab.research.google.com/github/preethadk11/HTML-Project-roadmap.sh-/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hollow Square

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

Hollow rectangle

In [ ]:
for i in range(1,4):
  for j in range(1,8):
    if i==1 or i==3 or j==1 or j==7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
*     *
*******

Border with Numbers

In [ ]:
for i in range(4):
  for j in range(6):
    if i==0 or i==3 or j==0 or j==5:
      print("1",end="")
    else:
      print(" ",end="")
  print()

111111
1    1
1    1
111111

Hollow Rectangle with Row Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(i,end="")
    elif j==1 or j==cols:
      print(i,end="")
    else:
      print(" ",end="")
  print()

111111
2    2
3    3
444444

Hollow Rectangle with Column Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(j,end="")
    elif j==1 or j==cols:
      print(j,end="")
    else:
      print(" ",end="")
  print()

123456
1    6
1    6
123456

Double Border Rectangle

In [ ]:
rows=7
cols=10
for i in range(1,7+1):
  for j in range(1,10+1):
    if i<=2 or i>rows-2:
      print("*",end="")
    elif j==1 or j==2 or j==cols or j==cols-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

**********
**********
**      **
**      **
**      **
**********
**********

Hollow rectangle with diagonal

In [ ]:
n=6
for i in range(n+1):
  for j in range(n+1):
    border_condition=i==0 or i==n or j==0 or j==n
    diagonal_condition=i+j==n-1
    if border_condition or diagonal_condition:
      print("*",end="")

    else:
      print(" ",end="")
  print()

*******
*   * *
*  *  *
* *   *
**    *
*     *
*******

half triangle

In [ ]:
for i in range(6):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print(" ",end="")
  print("*"*(i))

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print("*",end="")
  print()

******
*****
****
***
**
*

Pyramid

In [ ]:
n=9
for i in range(n):
  for j in range(n-i):
    print(" ",end="")
  print("*"*(2*i+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
n=9
for i in range(n):
  for j in range(i):
    print(" ",end="")

  print("*"*(2*n-(2*i+1)))

*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [50]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")
  if i>1 and i<n:
    for j in range(2*i - 3):
       print(" ",end="")
    print("*",end="")

  if i==n:
    for j in range(2*i - 2):
      print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********

SOLID PYRAMID

In [53]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  print("*"*(2*i-1))

    *
   ***
  *****
 *******
*********

INVERTED SOLID PYRAMID

In [59]:
n=5
for i in range(1,n+1):
  for s in range(i-1):
    print(" ",end="")
  print("*"*(2*n-(2*i-1)))

*********
 *******
  *****
   ***
    *

HOLLOW TRIANGLE

In [60]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")
  if i>1 and i<5:
    for j in range(2*i-3):
      print(" ",end="")
    print("*",end="")
  if i==n:
    for j in range(2*i-2):
      print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********

HOLLOW INVERTED Pyramid

In [77]:
n=5
for i in range(1,n+1):
  for s in range(i-1):
      print(" ",end="")
  print("*",end="")
  if i==1:
    for j in range(2*n-2):
      print("*",end="")
  if i>1 and i<5:
    for j in range(2*n-(2*i+1)):
      print(" ",end="")
    print("*",end="")
  print()

*********
 *     *
  *   *
   * *
    *

SOLID DIAMOND

In [79]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

HOLLOW DIAMOND

In [86]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")

  if i>1 and i<n:
    for j in range(2*i - 3):
      print(" ",end="")
    print("*",end="")
  if i==n:
    for j in range(2*i-2):
      print("*",end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")

  if i>1 and i<n:
    for j in range(2*i - 3):
      print(" ",end="")
    print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********
 *     *
  *   *
   * *
    *

NUMBER PYRAMID

In [96]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")



  for j in range(i-1,0,-1):
    print(j,end="")
  print()

    1
   121
  12321
 1234321
123454321

HOLLOW NUMBER PYRAMID

In [114]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print(1,end="")
  if i>1 and i<n:
     for j in range(2*i - 3):
       print(" ",end="")
     print(1,end="")

  if i==n:
    for j in range(2,i+1):
      print(j,end="")
    for j in range(i-1,0,-1):
      print(j,end="")
  print()

    1
   1 1
  1   1
 1     1
123454321

FULL NUMBER DIAMOND

In [119]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")

  for j in range(i-1,0,-1):
    print(j,end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")
  for j in range(i-1,0,-1):
    print(j,end="")
  print()

    1
   121
  12321
 1234321
123454321
 1234321
  12321
   121
    1

UPGRADE

In [123]:
n=100
for i in range(1,n+1):

    if i%3 == 0:
      print("Fizz")
    elif i%5 == 0:
      print("Buzz")
    elif i%3==0 and i%5==0:
      print("FizzBuzz")
    else:
      print(i)
print()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz