<a href="https://colab.research.google.com/github/preethadk11/HTML-Project-roadmap.sh-/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hollow Square

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    if i==1 or i==5 or j==1 or j==5:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

Hollow rectangle

In [ ]:
for i in range(1,4):
  for j in range(1,8):
    if i==1 or i==3 or j==1 or j==7:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*******
*     *
*******

Border with Numbers

In [ ]:
for i in range(4):
  for j in range(6):
    if i==0 or i==3 or j==0 or j==5:
      print("1",end="")
    else:
      print(" ",end="")
  print()

111111
1    1
1    1
111111

Hollow Rectangle with Row Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(i,end="")
    elif j==1 or j==cols:
      print(i,end="")
    else:
      print(" ",end="")
  print()

111111
2    2
3    3
444444

Hollow Rectangle with Column Number

In [ ]:
rows=4
cols=6
for i in range(1,4+1):
  for j in range(1,6+1):
    if i==1 or i==rows:
      print(j,end="")
    elif j==1 or j==cols:
      print(j,end="")
    else:
      print(" ",end="")
  print()

123456
1    6
1    6
123456

Double Border Rectangle

In [ ]:
rows=7
cols=10
for i in range(1,7+1):
  for j in range(1,10+1):
    if i<=2 or i>rows-2:
      print("*",end="")
    elif j==1 or j==2 or j==cols or j==cols-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

**********
**********
**      **
**      **
**      **
**********
**********

Hollow rectangle with diagonal

In [ ]:
n=6
for i in range(n+1):
  for j in range(n+1):
    border_condition=i==0 or i==n or j==0 or j==n
    diagonal_condition=i+j==n-1
    if border_condition or diagonal_condition:
      print("*",end="")

    else:
      print(" ",end="")
  print()

*******
*   * *
*  *  *
* *   *
**    *
*     *
*******

half triangle

In [ ]:
for i in range(6):
  for j in range(i):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print(" ",end="")
  print("*"*(i))

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(6):
  for j in range(6-i):
    print("*",end="")
  print()

******
*****
****
***
**
*

Pyramid

In [ ]:
n=9
for i in range(n):
  for j in range(n-i):
    print(" ",end="")
  print("*"*(2*i+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [ ]:
n=9
for i in range(n):
  for j in range(i):
    print(" ",end="")

  print("*"*(2*n-(2*i+1)))

*****************
 ***************
  *************
   ***********
    *********
     *******
      *****
       ***
        *

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")
  if i>1 and i<n:
    for j in range(2*i - 3):
       print(" ",end="")
    print("*",end="")

  if i==n:
    for j in range(2*i - 2):
      print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********

SOLID PYRAMID

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n-i):
    print(" ",end="")
  print("*"*(2*i-1))

    *
   ***
  *****
 *******
*********

INVERTED SOLID PYRAMID

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(i-1):
    print(" ",end="")
  print("*"*(2*n-(2*i-1)))

*********
 *******
  *****
   ***
    *

HOLLOW TRIANGLE

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")
  if i>1 and i<5:
    for j in range(2*i-3):
      print(" ",end="")
    print("*",end="")
  if i==n:
    for j in range(2*i-2):
      print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********

HOLLOW INVERTED Pyramid

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(i-1):
      print(" ",end="")
  print("*",end="")
  if i==1:
    for j in range(2*n-2):
      print("*",end="")
  if i>1 and i<5:
    for j in range(2*n-(2*i+1)):
      print(" ",end="")
    print("*",end="")
  print()

*********
 *     *
  *   *
   * *
    *

SOLID DIAMOND

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

HOLLOW DIAMOND

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")

  if i>1 and i<n:
    for j in range(2*i - 3):
      print(" ",end="")
    print("*",end="")
  if i==n:
    for j in range(2*i-2):
      print("*",end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  print("*",end="")

  if i>1 and i<n:
    for j in range(2*i - 3):
      print(" ",end="")
    print("*",end="")
  print()

    *
   * *
  *   *
 *     *
*********
 *     *
  *   *
   * *
    *

NUMBER PYRAMID

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")



  for j in range(i-1,0,-1):
    print(j,end="")
  print()

    1
   121
  12321
 1234321
123454321

HOLLOW NUMBER PYRAMID

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  print(1,end="")
  if i>1 and i<n:
     for j in range(2*i - 3):
       print(" ",end="")
     print(1,end="")

  if i==n:
    for j in range(2,i+1):
      print(j,end="")
    for j in range(i-1,0,-1):
      print(j,end="")
  print()

    1
   1 1
  1   1
 1     1
123454321

FULL NUMBER DIAMOND

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")

  for j in range(i-1,0,-1):
    print(j,end="")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end="")
  for j in range(i-1,0,-1):
    print(j,end="")
  print()

    1
   121
  12321
 1234321
123454321
 1234321
  12321
   121
    1

UPGRADE

In [ ]:
n=100
for i in range(1,n+1):

    if i%3 == 0:
      print("Fizz")
    elif i%5 == 0:
      print("Buzz")
    elif i%3==0 and i%5==0:
      print("FizzBuzz")
    else:
      print(i)
print()

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
digit=1001
n=digit
power=0
binary=0
while(n>0):
  rem=n%10
  binary=binary+rem*(2**power)
  power+=1
  n=n//10
print(binary)

9

In [ ]:
digit=2
n=digit
decimal=""
while(n>0):
  rem=n%2
  #decimal=decimal*10+rem
  decimal=str(rem)+decimal
  n=n//2
print(decimal)

10

In [ ]:
n=5
num=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
str="computer"
for i in range(len(str)):
  for j in range(len(str)-i):
    print(str[j],end="")
  print()

computer
compute
comput
compu
comp
com
co
c

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(j,end=" ")
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(1,n+1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    if (i+j)%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()
for i in range(n-1,0,-1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(1,i+1):
    if (i+j)%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()

    1
   0 1
  1 0 1
 0 1 0 1
1 0 1 0 1
 0 1 0 1
  1 0 1
   0 1
    1

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==n or j==1 or j==n:
      print("*",end="")
    else:
      print(" ",end="")
  print()

*****
*   *
*   *
*   *
*****

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==j or i+j==n+1 or i==1 or i==n:
      print(j,end="  ")
    else:
      print(" ",end="  ")
  print()

1  2  3  4  5
   2     4
      3
   2     4
1  2  3  4  5

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

1
21
321
4321
54321

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(n-i+1,n+1):
    print(chr(64+j),end="")
  print()

E
DE
CDE
BCDE
ABCDE

In [ ]:
char=71
for i in range(1,6):
  print(chr(char),end="")
  char-=1

GFEDC

In [ ]:
char=65
for i in range(1,6):
  print(chr(char),end="")
  char+=2
print()

ACEGI

In [ ]:
n=4
size=2*n-1
for i in range(size):
  for j in range(size):
    val= min(i,j,size-i-1,size-j-1)
    print(val,end="")
  print()

0000000
0111110
0122210
0123210
0122210
0111110
0000000

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    if (i+j)%2==0:
      print(1,end=" ")
    else:
      print(0,end=" ")
  print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [ ]:
n=5
for i in range(1,i+1):
  for j in range(n+1-i,n):
    print(j,end="")
  print()

4
34
234
1234

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

1
21
321
4321
54321

In [ ]:
n=4
size=2*n-1
for i in range(size):
  for j in range(size):
    val=n - min(i,j,size-i-1,size-j-1)
    print(val,end="")
  print()

4444444
4333334
4322234
4321234
4322234
4333334
4444444

perfect number

In [ ]:
num=int(input())
sum=0
for i in range(1,num):

    if (num%i)==0:
      sum=sum+i
if sum==num:
  print("Perfect number")
else:
  print("Not prime")

12
Not prime

In [ ]:
this_list=[12,3,4]
for i in this_list:
  print(i)

12
3
4

In [ ]:
n=28
factor=[]
prime=[]
for i in range(2,n+15):
  if n%i==0:
    factor.append(i)
print(factor)
for i in factor:
  for j in range(2,i):
    if i%j==0:
      break
  else:
    prime.append(i)
print(max(prime))

[2, 4, 7, 14, 28]
7

In [ ]:
n=5
for i in range(2,n):
  if n%i==0:
    print("NOT PRIME")
    break
else:
  print("prime")

prime

In [ ]:
n=4
sum=0
for i in range(1,n+1):
  sum+=1/i
print(sum)

2.083333333333333

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i)

10
1
2
3
4
5
6
7
8
9
10

In [ ]:
n=int(input())
for i in range(1,2*n+1,2):
  print(i)

10
1
3
5
7
9
11
13
15
17
19

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

5
15

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i**2
print(sum)

4
30

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=1/i
print(sum)

4
2.083333333333333

In [ ]:
n=int(input())
sum=0
for i in range(1,2*n+1,2):
  sum+=i
print(sum)

5
25

In [ ]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,2*n+1,10):
    print(i)

3
1
2
3

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum+=i
if sum==n:
  print("Perfect")
else:
  print("Not perfect")

8
Not perfect

In [ ]:
n=int(input())
factor=[]
prime=[]
for i in range(2,n):
  if n%i==0:
    factor.append(i)
print(factor)
for i in factor:
  for j in range(2,i):
    if i%j==0:
      break
  else:
    prime.append(i)
print(max(prime))

28
[2, 4, 7, 14]
7

In [ ]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=1/i
print(sum)

4
2.083333333333333

In [ ]:
n=[5,3,6,1]
tem=0
for i in range(len(n)):
  for j in range(i+1,len(n)):
    if n[i]>n[j]:
      temp=n[i]
      n[i]=n[j]
      n[j]=temp
print(n)

[1, 3, 5, 6]

In [ ]:
n=[1,1,1,0,1,1,1,1]
count=0
max_count=0
for i in n:
  if i==1:
    count+=1
    max_count=max(max_count,count)
  else:
    count=0
print(max_count)

4

In [ ]:
max_count=0
count=0
result=[]
a=[1,2,3,3]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]==a[j]:
            count+=1
        if count>max_count:
            max_count=count
            result.append(a[i])
print(result)

[3]

In [ ]:
num=[5,3,8,1]
temp=0
for i in range(len(num)):
  for j in range(i+1,len(num)):
    if num[i]<num[j]:
      temp=num[i]
      num[i]=num[j]
      num[j]=temp
print(num)

[8, 5, 3, 1]

In [ ]:
bin=[1,1,0,1,1,1,]
count=0
maxcount=0
for i in range(len(bin)):
  if bin[i]==1:
    count+=1
    maxcount=max(count,maxcount)
  else:
    count=0
print(maxcount)

3

In [ ]:
arr=[1,2,2,3,3,3]

maxcount=0
result=""
for i in range(len(arr)):
  count=0
  for j in range(i+1,len(arr)):
    if arr[i]==arr[j]:
      count+=1
    if count>maxcount:
      maxcount=count
      result=arr[i]
print(result)

3

In [ ]:
n=[1,2,4,5,6]
ser=int(input())
for i in range(len(n)):
  if n[i]==ser:
    print(f'search element {ser} is found at {i+1} position')
    break
else:
  print("Search element not found")

56
Search element not found

In [ ]:
n=[1,2,3,4,5]
left=0
right=len(n)-1
while left<right:
  n[left],n[right]=n[right],n[left]
  left+=1
  right-=1
print(n)

[5, 4, 3, 2, 1]

In [ ]:
n=[3,3,4,2,4,4,2,4,4]
candidate=None
count=0
for num in n:
  if count==0:
    candidate=num
  if num==candidate:
    count+=1
  else:
    count-=1
print(candidate)

4

In [ ]:
n=[10,20,4,45,99]
largest=__builtins__.max(n)
n.remove(largest)
print(__builtins__.max(n))

45

In [ ]:
n=[1,2,2,3,4,1,5]
dup=[]
for i in range(len(n)):
  if n[i] not in dup:
    dup.append(n[i])
print(dup)

[1, 2, 3, 4, 5]

In [ ]:
#array order is not preserved here
n=[0,1,2,0,3,4,0]
left=0
right=len(n)-1
i=0
while i<=right:
  if n[i]==0:
    n[right],n[i]=n[i],n[right]
    right-=1
  else:
    i+=1
print(n)

[4, 1, 2, 3, 0, 0, 0]

In [ ]:
n=[1,2,2,3,1,4,5,1]

this_dict={}
for i in n:
  if i not in this_dict:
    this_dict[i]=1
  else:

    this_dict[i]+=1
print(this_dict)

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1}

In [ ]:
string=input().lower()
if string[::-1]==string:
  print("Palindrome")
else:
  print("Not a palindrome")

Madam
Palindrome

In [ ]:
string=input().split()
print(len(string))

i love programming
3

In [ ]:
string="I love python and i love coding and i love learning".split()
this_list=string
this_dict={}
for i in this_list:
  if i not in this_dict:
    this_dict[i]=1
  else:
    this_dict[i]+=1
print(this_dict)
frequent=max(this_dict,key=this_dict.get)
print(frequent)

{'I': 1, 'love': 3, 'python': 1, 'and': 2, 'i': 2, 'coding': 1, 'learning': 1}
love

In [ ]:
string=input()
reverse=""
for ch in string:
    reverse=ch+reverse
if reverse==string:
  print("Palindrome")
else:
  print("Not a palindrome")

madam
Palindrome

In [ ]:
strings="zebra elephat dog".split()
#print(max(strings,key=len))
largest=strings[0]
for ch in strings:
  if len(ch)>len(largest):
    largest=ch
print(largest)

elephat

In [ ]:
this_string="swiss"
dup=""
for i in this_string:
  if this_string.count(i)==1:
    dup=dup+i
    break
print(dup)

w

In [ ]:
stringss="abc"
vowel="aeiou"
substring=[]
count=0
for i in range(len(stringss)):
  for j in range(i,len(stringss)):
    substring.append(stringss[i:j+1])
print(substring)
for word in substring:
  if word.startswith(tuple(vowel)):
    count+=1
print(count)

['a', 'ab', 'abc', 'b', 'bc', 'c']
3

In [ ]:
stringss="abc"

substring=[]

for i in range(len(stringss),-1,-1):
  for j in range(i,len(strings)):
    substring.append(stringss[i:j+1])
print(substring)

['c', 'b', 'bc', 'a', 'ab', 'abc']

In [13]:
n="abc"
substring=[]
for i in range(len(n),-1,-1):
  for j in range(i,len(n)):
    substring.append(n[i:j+1])
print(substring)

['c', 'b', 'bc', 'a', 'ab', 'abc']

In [25]:
strings=input().lower()
new_string=[]
vowel_count=sum(1 for char in strings if char in tuple("aeiou"))
consonent_count=sum(1 for char in strings if char.isalpha() and char not in tuple("aeiou"))
print(vowel_count,consonent_count)

hello123
2 3

In [36]:
a=[[1,2],[3,4]]
b=[[5,6],[7,8]]
result=[[0,0],[0,0]]
for i in range(2):
  for j in range(2):
    result[i][j]=a[i][j]+b[i][j]
print(result)

[[6, 8], [10, 12]]